/* General*/
$bgColor: #EADFD8;
$borderColor: #A69C95;
$bgColorLight: #212939;
$offWhite: #F9F5EF;
$orange: #F58549;
$orange-hover: #C16C3E;
$transparent-bg: rgba(42,45,60,0.90);

$dark-on-light: #4A4B4E;
$darkish-on-light: #727478;
$light-on-dark: #F58549;

.row {
  max-width: none !important;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left !important;
}

.text-orange {
  color: $orange;
}

h1,
h2,
h3,
h4 {
  color: $offWhite;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
 }

a {
  color: $orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: $orange-hover;
  text-decoration: none;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $offWhite;
}

.p-text {
  font-weight: 500;
  color: $offWhite;
  font-size: 1.1em;
}

h1 { font-size: 32px; }
h2 {
  font-size: 24px;
  line-height: 28px; 
}
h3 { font-size: 18px; }
h4 { font-size: 14px; }

body {
  background-color: $bgColorLight;
  font-family: 'Open Sans', sans-serif;
}

#home {
  padding-bottom: 20px;
}

.black { 
  color: #000000;
}

.columns {
  padding-top: 25px;
  padding-bottom: 25px;
}

#terrierLogo {
  margin-top: 120px;
  height: 215px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

// General section styling
.section-light {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $bgColor;
}
.section-light p {
  color: $dark-on-light;
}
.section-light h1 {
  font-weight: 300;
  color: $dark-on-light;
}
.section-light h3 {
  color: $dark-on-light;
}

.section-dark {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-dark p {
  color: $offWhite;
}

.section-dark h1 {
  color: $light-on-dark;
}

#homeButtonsContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.homeButtons {
  width: 250px;
  border-width: 2px;
  padding: 12px 30px 12px 30px;
  
  border-radius: 25px;
  
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.button:hover, .button:focus {
  background-color: $orange-hover !important;
}

label {
  color: white !important;
}

.line {
  width: 200px;
  height: 1px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid white;
}

.header {
  padding-bottom: 20px;
}

.homeContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
